body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
}

.bodyPage {
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 100px;
  margin-bottom: 40px;
}

.profileImg {
  background-image: url("/img/profile-pic.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin-bottom: 50px;
  border-radius: 50%;
  margin-top: 70px;
}

.background {
  width: 100%;
  height: min-content;
  background-color: #6e07f3;
  position: relative;
  padding-bottom: 40vh;
}

.presentacion {
  color: white;
  font-size: xx-large;
  width: 60vw;
  height: min-content;
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}

.textoPresentacion {
  font-size: 1.4rem;
  margin-top: 20px;
}

.tecnologias {
  background-color: white;
  width: 90%;
  height: 750px;
  border: 2px solid #7788999c;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  top: -150px;
  display: flex;
}

.tarjetaTec1 {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.tarjetaTec2 {
  border-right: 2px solid #7788999c;
  border-left: 2px solid #7788999c;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.front {
  width: 100px;
  height: 100px;
}

.tecnologias {
  height: 110%;
}

.tecnologias h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tecnologias p {
  text-align: center;
}

.tecnologias span {
  margin-top: 30px;
  font-size: larger;
}

ul {
  margin-top: 20px;
}

li {
  margin: 10px 0;
  list-style-type: none;
}

.tecIcon {
  width: 20px;
  height: 20px;
}

.tecIcon2 {
  width: 50px;
  height: 20px;
}

.tecIcon3 {
  width: 20px;
  object-fit: cover;
  position: relative;
  top: 6px;
}

.liTecIcon3 {
  position: relative;
  right: 0px;
}

.galeriaProyectos {
  display: flex;
  height: 300px;
  width: 90%;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.galeriaProyectos > div {
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  transition: flex 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4),
    width 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  cursor: pointer;
  border: 1.5px solid grey;
}

.galeriaProyectos > div > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.galeriaProyectos > div:hover {
  flex: 2;
  width: 100%;
}

.galeriaProyectos > div:hover > img {
  transform: scale(1.2);
}

.proyectos {
  text-align: center;
}

.proyectos h2 {
  margin-bottom: 20px;
}

.proyectos p {
  margin-bottom: 50px;
}

.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.testimonios p {
  text-align: center;
}

.imgTestimonios img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.hagamoslo {
  margin: 0 auto;
  position: relative;
  top: 100px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
  color: white;
  height: 200px;
  width: 90%;
  border-radius: 25px;
}

.btnHagamoslo {
  background-color: #141c3a;
  border: 2px solid #5be9b9;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 10px 20px;
}

.btnHagamoslo:hover {
  background-color: #5be9b9;
  color: #141c3a;
}

.logotype2 {
  height: 200px;
  width: 200px;
  margin-top: 100px;
  cursor: pointer;
}

.background2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;
  width: 100%;
  height: 600px;
  padding-bottom: 100px;
  background-color: #6e07f3;
  text-align: center;
}

.background2 p {
  opacity: 90%;
}

.redes {
  display: flex;
  gap: 20px;
}

.redSocial {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin,
.gitHub,
.phone {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mail {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 390px) and (max-width: 860px) {
  * {
    margin: 0 auto;
  }
  body {
    height: 390px;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
  }

  .bodyPage {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .bodyPage p {
    font-size: 2rem;
  }

  .profileImg {
    background-image: url("/img/profile-pic.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-top: 70px;
  }

  .stup {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .stup img {
    width: 100%;
  }

  .background {
    width: 100%;
    height: max-content;
    padding-top: 10vh;
    padding-bottom: 40vh;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .presentacion {
    color: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .introPresentacion {
    font-size: 3.5rem;
  }

  .textoPresentacion {
    font-size: 2.5rem;
    margin-top: 20px;
  }

  .tecnologias {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: 110%;
    border: 2px solid #7788999c;
    border-radius: 20px;
  }

  .tarjetaTec1 {
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
  }

  .tarjetaTec2 {
    border-top: 2px solid #7788999c;
    border-bottom: 2px solid #7788999c;
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
  }

  .tecnologias h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
  }

  .tecnologias p {
    text-align: center;
    font: 2rem;
  }

  .tecnologias span {
    margin-top: 30px;
    font-size: larger;
  }

  .proyectos h2 {
    font-size: 3rem;
  }

  .proyectos p {
    font-size: 2rem;
  }

  .testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .imgTestimonios img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .hagamoslo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%), 0 0 0 1px #141c3a;
    color: white;
    height: 450px;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 25px;
    position: relative;
  }

  .btnHagamoslo {
    background-color: #141c3a;
    border: 2px solid #5be9b9;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 25px;
    padding: 10px 20px;
  }
  .background2 {
    height: 800px;
    margin-top: -50px;
    position: relative;
  }

  .logotype2 {
    height: 200px;
    width: 200px;
    margin-top: 150px;
    cursor: pointer;
  }
}
